---
import { getI18N } from "@i18n/index";
import { Image } from "astro:assets";
import CandyImg from "@assets/images/6.webp";
import Container from "@components/Container.astro";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const { sugar } = i18n.Common;
const { top, bott, left, right } = i18n.Part1;
---

<main class="bg-vsColor py-20 flex flex-col items-center justify-center">
  <Container className="relative flex items-center justify-center">
    <picture class="lg:w-full flex items-center justify-center">
      <Image
        src={CandyImg}
        alt="Dulce amarillo"
        loading={"eager"}
        format="avif"
        quality="mid"
        class="lg:w-3/4 w-full cursor-pointer lg:drop-shadow-2xl lg:hover:scale-105 transition-all ease-in"
      />
    </picture>
    <div class="absolute -top-10 lg:top-10 transform text-center lg:flex">
      <p
        class="font-semibold text-lg lg:text-2xl font-cSoon text-deepRose uppercase whitespace-break-spaces"
      >
        {top}
      </p>
    </div>
    <div
      class="absolute left-16 -rotate-90 lg:rotate-0 transform -translate-x-20 lg:flex items-center"
    >
      <p
        class="font-semibold font-cSoon text-lg lg:text-2xl text-deepRose uppercase lg:inline hidden"
      >
        {left}
      </p>
    </div>
    <div
      class="absolute right-20 transform translate-x-20 lg:flex items-center"
    >
      <p
        class="font-semibold text-lg rotate-90 lg:rotate-0 lg:text-2xl text-deepRose uppercase font-cSoon lg:inline hidden"
      >
        {right}
      </p>
    </div>
    <div
      class="absolute bottom-1 lg:bottom-10 transform translate-y-full lg:flex text-center"
    >
      <p
        class="font-semibold font-cSoon text-lg lg:text-2xl text-deepRose uppercase whitespace-break-spaces"
      >
        {bott}
      </p>
    </div>
  </Container>
</main>

<aside
  class="bg-deepRose truncate overflow-hidden uppercase lg:flex flex-row justify-center lg:justify-between p-2 lg:p-4 font-noto"
>
  <span
    class="text-center lg:text-left lg:text-3xl text-primary font-bold text-sm"
    >{sugar}</span
  >
  <span
    class="text-center lg:text-left lg:text-3xl text-primary font-bold text-sm"
    >{sugar}</span
  >
  <span
    class="text-center lg:text-left lg:text-3xl text-primary font-bold text-sm"
    >{sugar}</span
  >
  <span
    class="text-center lg:text-left lg:text-3xl text-primary font-bold text-sm"
    >{sugar}</span
  >
  <span
    class="text-center lg:text-left lg:inline hidden lg:text-3xl text-primary font-bold text-sm"
    >{sugar}</span
  >
</aside>

<style>
  @media (max-width: 640px) {
    .bbreak-words {
      word-break: break-word;
    }
  }
</style>
