---
import { getI18N } from "@i18n/index";
import BottomImg from "@assets/images/5.webp";
import { Image } from "astro:assets";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const { title, p1, p2, p3, sugar } = i18n.Intro;
---

<div
  class="relative flex lg:min-h-screen bg-cover justify-stretch bg-heroMain items-center flex-col"
>
  <div class="py-40 flex justify-center place-content-center">
    <h1
      class="relative uppercase text-4xl lg:text-8xl font-extrabold text-naranja bg-white py-4 px-8 rounded-full"
    >
      {title}
    </h1>
  </div>

  <div class="bg-lightRose min-w-full pt-8">
    <section
      class="flex flex-col justify-center p-8 gap-4 lg:font-thin font-bold"
    >
      <span class="text-3xl lg:text-7xl text-center text-slate-100 font-comic"
        >{p1}
        <span
          class="text-primary uppercase hover:text-deepPurple transition-all cursor-pointer ease-in font-comic"
          >{p2}</span
        >
      </span>
      <span class="text-3xl font-comic lg:text-7xl text-center text-slate-100"
        >LOREM IPSUM</span
      >
      <span class="text-3xl lg:text-7xl font-comic text-center text-slate-100"
        >{p3}</span
      >
      <span
        class="border-2 font-comic mx-auto transition-all cursor-pointer mb-8 ease-in-out hover:text-primary hover:bg-deepPurple hover:border-primary text-xl lg:text-3xl mt-8 rounded-full border-deepPurple p-2 bg-primary text-deepPurple uppercase"
        >lorem ipsum</span
      >
    </section>
  </div>

  <div class="flex lg:flex-row flex-col lg:h-80">
    <picture class="lg:w-1/2">
      <Image
        src={BottomImg}
        loading={"eager"}
        alt={"Dulces"}
        class="w-full h-full object-cover"
      />
    </picture>
    <div
      class="flex flex-col font-comic bg-primary lg:w-1/2 w-full justify-center items-center p-4 gap-4"
    >
      <span class="text-3xl lg:text-7xl font-normal text-orange-600 text-center"
        >0 g</span
      >
      <span
        class="text-3xl uppercase lg:text-7xl font-normal text-slate-700 text-center"
        >{sugar}</span
      >
    </div>
  </div>
</div>
